<div class="user-settings-container">
  <div class="main-info">
    <div class="avatar-container"><img
        src={{avatar}}
        width="46px"
        class="main-info-img"
        alt="user avatar"
      /></div>
    <div class="main-info-text">
      <p class="main-info-text-name">{{first_name}} {{last_name}}</p>
      <p>{{phone}}</p>
      <p>{{display_name}}</p>
    </div>
  </div>
  <div class="detailed-info">
    {{{infoName}}}
    {{{infoLastName}}}
    {{{infoHandle}}}
    {{{infoLogin}}}
    {{{infoEmail}}}
    {{{infoPhone}}}
  </div>
  <div class="buttons-block">
    {{{buttonEdit}}}
    {{{buttonNewPassword}}}
  </div>
</div>