<div class="form-input-container">
  <label class="label" for="{{name}}">{{label}}</label>
  <input
    class="input"
    type="{{type}}"
    id="{{name}}"
    name="{{name}}"
    value="{{value}}"
  />
  {{{errorMessage}}}
</div>