<div class="settings-container">
  <form class="settings-form">
    {{{inputName}}}
    {{{inputLastName}}}
    {{{inputHandle}}}
    {{{inputLogin}}}
    {{{inputEmail}}}
    {{{inputPhone}}}
  </form>
  {{{buttonSave}}}
  {{{buttonCancel}}}
</div>