<div class="signup-container">
  <h1 class="title">Sign up</h1>
  <form class="signup-form">
    {{{inputEmail}}}
    {{{inputLogin}}}
    {{{inputName}}}
    {{{inputLastName}}}
    {{{inputPhone}}}
    {{{inputPassword}}}
    {{{inputRepeatPassword}}}
    {{{button}}}
  </form>
  <a class="login-link" href="../../modules/Login/login.hbs">Login</a>
</div>