<div class="chat-thread-wrapper">

    {{#if messages}}
    <div class="chat-thread-messages">
      {{#each messages}}
        {{#if this.my}}
        <div class="my-message">{{this.content}}</div>
        {{else}}
        <div class="others-message">{{this.content}}</div>
        {{/if}} 
      {{/each}}
      {{{messageInput}}}
    {{else}}
      <div class="chat-thread-stub">Choose a chat to start messaging</div>
      </div>
    {{/if}}
  </div>

</div>