<div class="chat-block-wrapper {{wrapperClassName}}">
  <div class="chat-block-avatar">{{avatar}}</div>
  <div class="chat-block-column">
    <div class="chat-block-name">{{name}}</div>
    <div class="chat-block-last-msg">{{lastMessageAbstract}}</div>
  </div>
  <div class="chat-block-column-2">
    <time class="chat-block-time">{{lastMessageTime}}</time>
    <div class="chat-block-new-msg">{{newMessagesCount}}</div>
  </div>
  <div class="chat-block-column-2">
    {{{buttonDelete}}}
    {{{buttonAdd}}}
    {{{buttonRemove}}}
  </div>

</div>