<div class="settings-form-item-container">
  <img src={{icon}} width="24px" />
  <label for="{{label}}" class="settings-form-item-label">{{label}}</label>
  {{!-- <input
    name="{{label}}"
    class="settings-form-input {{inputClass}}"
    type="{{type}}"
  /> --}}
  {{{input}}}
</div>